<section class="gallery">
  <div id="gallery" style="visibility: hidden; height: 1px; overflow: hidden">
    {{ $galleryImageList := slice }}
    {{ $imageList := where (.Resources.ByType "image") "Params.hidden" "ne" true }}

    {{ if isset .Params "gallery" }}
      {{ $imageList = slice }}
      {{ range $item := .Params.gallery }}

        {{ if or ( hasPrefix $item "youtube" ) ( hasPrefix $item "yt" ) }}
          {{ $data := split $item "|" }}
          {{ $id := strings.TrimSpace (index $data 1) }}
          {{ $title := index $data 2 }}

          {{ $videoUrl := printf "%s%s" "https://www.youtube.com/watch?v=" $id }}
          
          {{ $imgPath := printf "%s.thumbnail.jpg" $id }}
          {{ $itemRes := $.Page.Resources.GetMatch $imgPath }}
          {{ if eq $itemRes nil }}
            {{ $itemRes = partial "srcVideoThumbnail.html" ( dict "context" $.Page "videoId" $id "provider" "youtube") }}
          {{ end }}

          {{ $galleryImageList = $galleryImageList | append (dict
            "imageRes" $itemRes 
            "Name" $itemRes.Name
            "Params" $itemRes.Params
            "Title" $title
            "extLink" $videoUrl
            ) 
          }}

        {{ else }}
          
          {{ $data := split $item "|" }}
          {{ $imgPath := strings.TrimSpace (index $data 0) }}
          {{ $title := index $data 1 }}

          {{ $itemRes := $.Page.Resources.GetMatch $imgPath }}
          {{ $galleryImageList = $galleryImageList | append (dict
            "imageRes" $itemRes 
            "Name" $itemRes.Name
            "Params" $itemRes.Params
            "Title" $title
            "extLink" ""
            ) 
          }}

        {{ end }}

      {{ end }}
    {{ else }}
      {{ range $imageRes := $imageList }}
        {{ $galleryImageList = $galleryImageList | append (dict
          "imageRes" $imageRes
          "Name" $imageRes.Name
          "Params" $imageRes.Params
          "Title" $imageRes.Title
          "extLink" ""
          )
        }}
      {{ end }}
    {{ end }}

    {{ $publishResources := default true .Params.build.publishResources }}

    {{ range $galleryImageList }}
      {{ $imageRes := .imageRes }}
      {{ $thumbnail := $imageRes.Filter (slice images.AutoOrient (images.Process "fit 600x600")) }}
      {{ $full := $imageRes.Filter (slice images.AutoOrient (images.Process "fit 1600x1600")) }}
      {{ $color := index $thumbnail.Colors 0 | default "transparent" }}
      <a class="gallery-item" href="{{ if $publishResources }}{{ $imageRes.RelPermalink }}{{ else }}{{ $full.RelPermalink }}{{ end }}" data-pswp-src="{{ $full.RelPermalink }}" data-pswp-width="{{ $full.Width }}" data-pswp-height="{{ $full.Height }}" data-pswp-target="{{ $imageRes.Name | urlize }}" title="{{ .Title }}" itemscope itemtype="https://schema.org/ImageObject" style="aspect-ratio: {{ $thumbnail.Width }} / {{ $thumbnail.Height }}" external-link="{{ .extLink }}">
        <figure style="background-color: {{ $color }}; aspect-ratio: {{ $thumbnail.Width }} / {{ $thumbnail.Height }}">
          <img class="lazyload" width="{{ $thumbnail.Width }}" height="{{ $thumbnail.Height }}" data-src="{{ $thumbnail.RelPermalink }}" alt="{{ .Title }}" />
        </figure>
        <meta itemprop="contentUrl" content="{{ if $publishResources }}{{ $imageRes.RelPermalink }}{{ else }}{{ $full.RelPermalink }}{{ end }}" />
        {{ with site.Params.Author }}
          <span itemprop="creator" itemtype="https://schema.org/Person" itemscope>
            <meta itemprop="name" content="{{ site.Params.Author.name }}" />
          </span>
        {{ end }}
      </a>
    {{ end }}
  </div>
</section>

