<!-- use default fontawesome class 'fas' or use a specified one like 'fab' for brands -->
{{ $faStylePrefix := "fas" }}
{{ if in (slice "fas" "far" "fal" "fad" "fab") (.Get 0) }}
  {{ $faStylePrefix = (.Get 0) }}
{{ end }}

{{ $customStyle := "" }}

<i class="
{{ $faStylePrefix }}
{{ range .Params }}
  {{ if hasPrefix . "class " }}
    {{ slicestr . 6 }}
  {{ else if hasPrefix . "style " }}
    {{ $customStyle = slicestr . 6 }}
  {{ else }}
    fa-{{ . }}
  {{ end }} 
{{ end }}" 

{{ if not (eq $customStyle "") }}
   style="{{ $customStyle | safeCSS }}"
{{ end }} 
>
</i>
