<!-- use default fontawesome class 'fas' or use a specified one like 'fab' for brands -->
{{ $faStylePrefix := "fas" }}
{{ if in (slice "fas" "far" "fal" "fad" "fab") (.Get 0) }}
  {{ $faStylePrefix = (.Get 0) }}
{{ end }}

{{ $customStyle := "" }}

<i class="
{{ $faStylePrefix }}
{{ range $iconName := .Params }}
  {{ if hasPrefix $iconName "style " }}
    {{ $customStyle = slicestr $iconName 6 }}
  {{ else }}
    fa-{{ $iconName }}
  {{ end }} 
{{ end }}" 

{{ if not (eq $customStyle "") }}
   style="{{ $customStyle | safeCSS }}"
{{ end }} 
>
</i>
